            <div class="main-content-inner">
                <div class="row">                    
                    <!-- Progress Table start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Contact Submissions</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table table-hover progress-table text-center" id="contactSubmissions">
                                            <thead class="text-uppercase">
                                                <tr>
                                                    <th scope="col">SL No</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Message</th>
                                                    <th scope="col">Sent At</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                {{# each subs }}
                                                <tr id="cs-row-{{ this._id }}">
                                                    <th scope="row">{{ counter @index }}</th>
                                                    <td>{{ this.fullname }}</td>
                                                    <td>{{ this.email }}</td>
                                                    <td>{{ this.message }}</td>
                                                    <td>{{ printFullDate this.created }}</td>
                                                    <td>
                                                        <ul class="d-flex justify-content-center">
                                                            {{!--<li class="mr-3"><a href="#" class="text-secondary"><i class="fa fa-edit"></i></a></li>--}}
                                                            <li><a href="#" class="text-danger contact-delete" data-id="{{ this._id }}"><i class="ti-trash"></i></a></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Progress Table end -->
                </div>
            </div>