            <div class="main-content-inner">
                <div class="row">
                    <div class="col-lg-6 col-ml-12">
                        <div class="row">
                            <!-- Textual inputs start -->
                            <div class="col-12 mt-5">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Edit Project</h4>
                                        
                                        <form action="/admin/edit-project" method="POST">
                                        
                                            <div class="form-group">
                                                <label for="title" class="col-form-label">Title</label>
                                                <input class="form-control" type="text" value="{{ project.title }}" id="title" name="title" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="description" class="col-form-label">Description</label>
                                                <input class="form-control" type="text" value="{{ project.description }}" name="description" id="description" required>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="image_url" class="col-form-label">Featured Image URL</label>
                                                <input class="form-control" type="text" value="{{ project.image_url }}" name="image_url" id="image-url" required>
                                            </div>
                                           
                                            <div class="form-row">
                                                
                                                <div class="col-md-4 mb-3">
                                                    <label for="team-size">Team Size</label>
                                                    <input type="number" class="form-control" id="team-size" placeholder="Team Size" value="{{ project.team_size }}" name="time_size" required>
                                                </div>
                                                
                                                <div class="col-md-4 mb-3">
                                                    <label for="duration">Duration</label>
                                                    <input type="number" class="form-control" id="duration" placeholder="Duration" value="{{ project.duration }}" name="duration" required>
                                                </div>
                                                
                                                <div class="col-md-4 mb-3">
                                                    <label class="col-form-label" for="project-type">Project Type</label>
                                                    <select class="form-control" name="project_type" id="project-type">
                                                        <option value="web-design" {{#if (stringEquals project.project_type "web-design")}}selected{{/if}}>Web Design</option>
                                                        <option value="mobile-app" {{#if (stringEquals project.project_type "mobile-app")}}selected{{/if}}>Mobile App</option>
                                                        <option value="workshop" {{#if (stringEquals project.project_type "workshop")}}selected{{/if}}>Workshop</option>
                                                    </select>
                                                </div>
                                            </div>
                                                
                                            <div class="form-group">
                                                <label for="project-date" class="col-form-label">Project Date</label>
                                                <input class="form-control" type="text" value="{{ project.project_date }}" id="project-date" name="project_date">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="content" class="col-form-label">Content</label>
                                                <textarea name="content" id="content">{{ project.content }}</textarea>
                                            </div>
                                            
                                            <input type="hidden" name="id" value="{{ project._id }}"/>
                                            
                                            <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Textual inputs end -->
                            
                        </div>
                    </div>
                    
            </div>
            
            <script>
                 CKEDITOR.replace( 'content' , {
                    "extraPlugins": "imagebrowser,autogrow",
                    "imageBrowser_listUrl": "/admin/getimages",
                    filebrowserUploadUrl: "/admin/uploadimage",
                    skin: 'office2013'
                });
            </script>