<!DOCTYPE html>
<html lang="en">

<head>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="A experienced professional that can design and build mobile, desktop and web applications in addition to building scalable cloud applications for large-scale deployments.">
     <meta name="keywords" content="royden,rego,roydenrego,sjec,roydenrego4">
     <meta name="author" content="Royden Rego">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <meta name="theme-color" content="#de9f8d" />


     <title>{{title}}</title>

     <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
     <link rel="icon" href="/favicon.ico" type="image/x-icon">
     
     <link rel="icon" sizes="192x192" href="/images/site_icon.png">
     <link rel="apple-touch-icon" href="/images/site_icon.png">
     <meta name="msapplication-square310x310logo" content="/images/site_icon_310.png">


     <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/animate.css">
     <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
     <link rel="stylesheet" href="/stylesheets/templatemo-style.css">
     <link rel="stylesheet" href="/stylesheets/style.css">

     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
     
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129690403-1"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
     
       gtag('config', 'UA-129690403-1');
     </script>


</head>

<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">


     <!-- PRE LOADER -->

     <div class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </div>


     <!-- Navigation Section -->

     <div class="navbar navbar-fixed-top custom-navbar" role="navigation">
          <div class="container">

               <!-- navbar header -->
               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
                    <a href="{{rel_link}}#home" class="navbar-brand">Royden Rego</a>
               </div>

               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="{{rel_link}}#home" class="smoothScroll">Home</a></li>
                         <li><a href="{{rel_link}}#about" class="smoothScroll">About Me</a></li>
                         <li><a href="{{rel_link}}#experience" class="smoothScroll">Experiences</a></li>
                         <li><a href="{{rel_link}}#portfolio" class="smoothScroll">Portfolio</a></li>
                         <li><a href="{{rel_link}}#contact" class="smoothScroll">Contact</a></li>
                    </ul>
               </div>

          </div>
     </div>

  
    {{{body}}}
     


     <!-- Footer Section -->

     <footer>
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="wow fadeInUp footer-copyright" data-wow-delay="1.0s">
                              <p>Copyright &copy; 2018 Royden Rego</p>
                         </div>
                         <ul class="wow fadeInUp social-icon" data-wow-delay="1.5s">
                              <li><a href="https://www.facebook.com/roydenrego4" target="_blank" class="fa fa-facebook"></a></li>
                              <li><a href="https://twitter.com/roydenrego" target="_blank" class="fa fa-twitter"></a></li>
                              <li><a href="https://github.com/roydenrego"  target="_blank" class="fa fa-github"></a></li>
                              <li><a href="https://roydenrego.com" class="fa fa-dribbble"></a></li>
                              <li><a href="https://www.linkedin.com/in/roydenrego/" target="_blank" class="fa fa-linkedin"></a></li>
                         </ul>
                    </div>

               </div>
          </div>
     </footer>

     <!-- SCRIPTS -->

     <script src="/javascripts/jquery.js"></script>
     <script src="/javascripts/bootstrap.min.js"></script>
     <script src="/javascripts/jquery.parallax.js"></script>
     <script src="/javascripts/smoothscroll.js"></script>
     <script src="/javascripts/wow.min.js"></script>
     <script src="/javascripts/sweetalert2.all.min.js"></script>
     {{!--<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>--}}
     <script src="/javascripts/custom.js"></script>

</body>

</html>
