    <!-- Home Section -->

     <section id="home" class="parallax-section">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="home-img"></div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <div class="home-thumb">
                              <div class="section-title">
                                   <h4 class="wow fadeInUp" data-wow-delay="0.3s">Welcome to my Website</h4>
                                   <h1 class="wow fadeInUp" data-wow-delay="0.6s">Hello, I am <strong>Royden</strong> currently based in Mangalore city.</h1>
                                   <p class="wow fadeInUp" data-wow-delay="0.9s">A experienced professional who can design and build mobile, desktop and web applications in addition to building scalable cloud applications for large-scale deployments.</p>

                                   <a href="#about" class="wow fadeInUp smoothScroll section-btn btn btn-success" data-wow-delay="1.4s">Know More</a>

                              </div>
                         </div>
                    </div>


               </div>
          </div>
     </section>


     <!-- About Section -->

     <section id="about" class="parallax-section">
          <div class="container">
               <div class="row about-row">

                    <div class="col-md-6 col-sm-12 about-cell">
                         <div class="about-thumb">
                              <div class="wow fadeInUp section-title" data-wow-delay="0.4s">
                                   <h1>About Me</h1>
                                   <p class="color-yellow">How I ventured into the world of Computers.</p>
                              </div>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <p>Ever since I was a little boy, I have always been fascinated by Computers. And in 7th grade I ventured into the field of computer software by learning my first computer language which was C. Since then I have not stopped, my thirst for learning more about computer software has led me to learn more languages such as C++, Java, HTML, CSS, JavaScript, Swift, Node.js, and technologies such as cloud computing, mobile application development, and Electronjs and much more.</p>
                                   <p>To further excel myself I have been working for startups such as Softrixz and TechShaadi and with them, I have built multiple large scale-enterprise applications that use the power of the cloud to serve the needs of the various organizations around the country.</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6 about-cell">
                         <div class="background-image about-img"></div>
                    </div>

                    <div class="bg-yellow col-md-3 col-sm-6 about-cell">
                         <div class="skill-thumb">
                              <div class="wow fadeInUp section-title color-white" data-wow-delay="1.2s">
                                   <h1>My Skills</h1>
                                   <p class="color-white">Java, Swift, C# - App Development . HTML, CSS, JS - Web Design . C/C++ . Python . Photoshop & Illustrator</p>
                              </div>

                              <div class=" wow fadeInUp skills-thumb" data-wow-delay="1.6s">

                                   <strong>REST API Development</strong>
                                   <span class="color-white pull-right">95%</span>
                                   <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                                   </div>

                                   <strong>Application Development</strong>
                                   <span class="color-white pull-right">90%</span>
                                   <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                   </div>

                                   <strong>Web Development</strong>
                                   <span class="color-white pull-right">80%</span>
                                   <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                   </div>

                                   <strong>Cloud Computing</strong>
                                   <span class="color-white pull-right">75%</span>
                                   <div class="progress">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                   </div>
                              </div>

                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- Service Section -->

     <section id="service" class="parallax-section">
          <div class="container">
               <div class="row service-row">

                    <div class="bg-yellow col-md-3 col-sm-6 service-cell">
                         <div class="wow fadeInUp color-white service-thumb" data-wow-delay="0.8s">
                              <i class="fa fa-desktop"></i>
                              <h3>Desktop Applications</h3>
                              <p class="color-white">Capable of building native desktop applications and also build cross-platform apps using Electon.</p>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6 service-cell">
                         <div class="wow fadeInUp color-white service-thumb" data-wow-delay="1.2s">
                              <i class="fa fa-cloud"></i>
                              <h3>REST API</h3>
                              <p class="color-white">Experienced in building REST API's in the cloud for large-scale deployments.</p>
                         </div>
                    </div>

                    <div class="bg-dark col-md-3 col-sm-6 service-cell">
                         <div class="wow fadeInUp color-white service-thumb" data-wow-delay="1.6s">
                              <i class="fa fa-table"></i>
                              <h3>Mobile App</h3>
                              <p class="color-white">Developed countless mobile applications for multiple clients on both Android and iOS platforms.</p>
                         </div>
                    </div>

                    <div class="bg-white col-md-3 col-sm-6 service-cell">
                         <div class="wow fadeInUp service-thumb" data-wow-delay="1.8s">
                              <i class="fa fa-html5"></i>
                              <h3>Websites</h3>
                              <p>Can build responsive and stunning websites while using PHP and Node.js to power them.</p>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- Experience Section -->

     <section id="experience" class="parallax-section">
          <div class="container">
               <div class="row exu-row">

                    <div class="col-md-6 col-sm-6 exu-cell">
                         <div class="background-image experience-img"></div>
                    </div>

                    <div class="col-md-6 col-sm-6 exu-cell">
                         <div class="color-white experience-thumb">
                              <div class="wow fadeInUp section-title" data-wow-delay="0.8s">
                                   <h1>My Experiences</h1>
                                   <p class="color-white">Previous companies and my tasks</p>
                              </div>

                              <div class="wow fadeInUp color-white media" data-wow-delay="1.6s">
                                   <div class="media-object media-left">
                                        <i class="fa fa-laptop"></i>
                                   </div>
                                   <div class="media-body">
                                        <h3 class="media-heading">Softrixz - Freelance Developer <small class="exp-small">Jan 2013 - Present</small></h3>
                                        <p class="color-white">Been working as Freelance Developer at Softrixz building mobile and desktop appplications for clients and internal projects.</p>
                                   </div>
                              </div>

                              <div class="wow fadeInUp color-white media" data-wow-delay="1.2s">
                                   <div class="media-object media-left">
                                        <i class="fa fa-laptop"></i>
                                   </div>
                                   <div class="media-body">
                                        <h3 class="media-heading">TechShaadi - Freelance Developer <small class="exp-small">June 2016 - August 2019</small></h3>
                                        <p class="color-white">Working as Freelance Developer in TechShaadi building mobile applications for weddings.</p>
                                   </div>
                              </div>

                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- Education Section -->

     <section id="education" class="parallax-section">
          <div class="container">
               <div class="row exu-row">

                    <div class="col-md-6 col-sm-6 exu-cell">
                         <div class="color-white education-thumb">
                              <div class="wow fadeInUp section-title" data-wow-delay="0.8s">
                                   <h1>My Education</h1>
                                   <p class="color-white">Qualifications and institutions I studied in.</p>
                              </div>

                              <div class="wow fadeInUp color-white media" data-wow-delay="1.2s">
                                   <div class="media-object media-left">
                                        <i class="fa fa-graduation-cap"></i>
                                   </div>
                                   <div class="media-body">
                                        <h3 class="media-heading">B.E in Computer Science <small>2015 August - 2019 May</small></h3>
                                        <p class="color-white">St. Joseph Engineering College, Vamanjoor, Mangalore</p>
                                   </div>
                              </div>

                              <div class="wow fadeInUp color-white media" data-wow-delay="1.6s">
                                   <div class="media-object media-left">
                                        <i class="fa fa-university education-fas"></i>
                                   </div>
                                   <div class="media-body">
                                        <h3 class="media-heading">Class 12th <small>2014 April - 2015 March</small></h3>
                                        <p class="color-white">Mahesh PU College, Kottara Chowki, Mangalore</p>
                                   </div>
                              </div>
                              
                              <div class="wow fadeInUp color-white media" data-wow-delay="2.0s">
                                   <div class="media-object media-left">
                                        <i class="fa fa-university education-fas"></i>
                                   </div>
                                   <div class="media-body">
                                        <h3 class="media-heading">Class 10th <small>2012 May - 2013 March</small></h3>
                                        <p class="color-white">St. Aloysius High School, Ladyhill, Mangalore</p>
                                   </div>
                              </div>

                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6 exu-cell">
                         <div class="background-image education-img"></div>
                    </div>

               </div>
          </div>
     </section>
     
     
     <!-- Portfolio Section -->

      <section id="portfolio" class="parallax-section">
          <div class="container">
               
               <div class="portfolio-content">
                    
                    <div class="wow fadeInUp section-title" data-wow-delay="0.8s">
                         <h1>Portfolio</h1>
                         <p>Some of the projects I have worked on.</p>
                    </div>
                    
                    <div class="portfolio-filters">
                         <input type="radio" id="reset" name="project_type" checked/>
                         <label for="reset">All</label>
                         
                         <input type="radio" id="mobile" name="project_type" />
                         <label for="mobile">Mobile App</label>
                         
                         <input type="radio" id="web" name="project_type"/>
                         <label for="web">Web Design</label>
                         
                         <input type="radio" id="workshop" name="project_type"/>
                         <label for="workshop">Workshops</label>
                         {{!-- <div class="mobile-app"></div> --}}
                    </div>
                    
                    
                    
                    <div class="portfolio-container">
                         
                    {{# each projects }}
                         <div class="example-2 card wow fadeInUp {{ this.project_type }}" data-wow-delay="{{wowDelay @index}}s" id="card-{{ this._id }}" data-json="{{ printJson this }}">
                               {{!--style="background: url('{{ this.image_url }}') center/cover no-repeat;"--}}
                             <div class="wrapper" style="background: url({{this.image_url}}) center/cover no-repeat;">
                               <div class="header">
                                 <div class="date">
                                   <span class="day">{{printDate this.created 1}}</span>
                                   <span class="month">{{printDate this.created 2}}</span>
                                   <span class="year">{{printDate this.created 3}}</span>
                                 </div>
                                 <ul class="menu-content">
                                   <li><a href="javascript:null" class="fa fa-user-o " title="Team Size"><span>{{ this.team_size }}</span></a></li>
                                   <li><a href="javascript:null" class="fa fa-calendar-o" title="Duration"><span>{{ this.duration }}</span></a></li>
                                 </ul>
                               </div>
                               <div class="data">
                                 <div class="content">
                                   <span class="author">{{ this.project_date }}</span>
                                   <h1 class="title"><a href="#popup-article" data-id="{{ this._id }}">{{ this.title }}</a></h1>
                                   <p class="text">{{ this.description }}</p>
                                   <a href="#popup-article" class="button" data-id="{{ this._id }}">Read more</a>
                                 </div>
                               </div>
                             </div>
                         </div>
                    {{/each}}
                         
                    </div>

               </div>
          </div>
     </section>

     <!-- Quotes Section -->

     <section id="quotes" class="parallax-section">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <i class="wow fadeInUp fa fa-star" data-wow-delay="0.6s"></i>
                         <h2 class="wow fadeInUp" data-wow-delay="0.8s">You can download a copy of my resume for future or offline reference.</h2>
                         {{!--<p class="wow fadeInUp" data-wow-delay="1s">Curabitur at pulvinar ante. Duis dui urna, faucibus eget felis eu, iaculis congue sem.</p>--}}
                         <a href="/files/RoydenRego_Resume.pdf" target="_blank" class="wow fadeInUp download-btn" data-wow-delay="1s">Download Printable Resume</a>
                    </div>

               </div>
               
               
          </div>
     </section>


     <!-- Contact Section -->

     <section id="contact" class="parallax-section">
          <div class="container">
               <div class="row contact-row">

                    <div class="col-md-6 col-sm-12 contact-cell">
                         <div class="contact-form">
                              <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
                                   <h1 class="color-white">Say hello..</h1>
                                   <p class="color-white">You can reach out to me if you have any questions or you just want to say hi.</p>
                              </div>

                              <div id="contact-form">
                                   <form action="/submit" method="post" id="contactForm">
                                        <div class="wow fadeInUp" data-wow-delay="1s">
                                             <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Your Name" required>
                                        </div>
                                        <div class="wow fadeInUp" data-wow-delay="1.2s">
                                             <input name="email" type="email" class="form-control" id="email" placeholder="Your Email" required>
                                        </div>
                                        <div class="wow fadeInUp" data-wow-delay="1.4s">
                                             <textarea name="message" rows="5" class="form-control" id="message" placeholder="Write your message..." required></textarea>
                                        </div>
                                        <div class="wow fadeInUp col-md-6 col-sm-8" data-wow-delay="1.6s">
                                             <input name="submit" type="submit" class="form-control" id="submit" value="Send">
                                        </div>
                                   </form>
                              </div>

                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6 contact-cell">
                         <div class="background-image contact-img"></div>
                    </div>

                    <div class="bg-dark col-md-3 col-sm-6 contact-cell">
                         <div class="contact-thumb">
                              <div class="wow fadeInUp contact-info" data-wow-delay="0.6s">
                                   <h3 class="color-white">Address</h3>
                                   <p>Angel Cot, Rego Compound, Matadakani Road, Mangalore, Karnataka, India</p>
                              </div>

                              <div class="wow fadeInUp contact-info" data-wow-delay="0.8s">
                                   <h3 class="color-white">Contact.</h3>
                                   <p><i class="fa fa-phone"></i> +91 855-332-7725</p>
                                   <p><i class="fa fa-envelope-o"></i> <a href="mailto:roydenrego@outlook.com">roydenrego@outlook.com</a></p>
                                   <p><i class="fa fa-globe"></i> <a href="#">roydenrego.com</a></p>
                              </div>

                         </div>
                    </div>

               </div>
          </div>
     </section>
     
     <div id="popup-article" class="popup">
          <div class="popup__block">
     
               <h1 class="popup__title" id="port-title"></h1>
               <div class="content">
     
               </div>

               <a href="#portfolio" class="popup__close">close</a>
          </div>
     </div>